body
{
  margin: 0px 0px;
    font-family: "微软雅黑 Light"  !important;
}


/*用于定义图表显示模式给子页面使用*/
.h1Title
{
    background-color:white;
    color: #3C85C4;
    padding:0 10px;
    border-bottom: 1px solid silver;
    text-align: center;
   

}
.h2Title
{    
	
    background-color:#3C85C4;
    color: white;
    padding:0 10px;
    
}
.Ancestor
{
    position: relative;
    margin-bottom:10px;
}

.Father
{
    text-align: center;
    position: relative;
    background-color: white;

}
.FatherDown
{

}
.Son
{
    top:70px;
    width: 800px;
    background: white;
    height: 500px;
    z-index: 99;
    position: absolute;
    border: 1px solid #3C85C4;
}
.SonTitle
{
    padding: 5px;
    font-size: 50px;

}
.SonContext
{
    padding-left: 20px;
    font-size: 25px;
    padding-right: 5px;
    overflow:hidden;
}



/*左标题*/
#leftbar
{
    margin: 0;
    width:250px;
    left: -220px;
    height: 100%;
    background-color:#3C85C4;
    float: left;
    position: fixed;
    box-shadow: 0px 0px 10px black;
    z-index: 106;
}
#setTime
{
    float: right;
}
#leftbarHead
{
    width: 250px;
    height: 230px;
}
#noupload
{
    display: block;
    border-radius: 100%;
    margin: 0 auto;
}
#leftbarBody
{
    margin-top: 10px;
}
#leftbarBody_Menu
{
    margin: 5px 0px;
    list-style:none;
    margin-top: 40px;
}
.Menu
{
    text-decoration: none;
    color: white;
    font-size: 30px;
    display: inline-block;
    position: relative;
    right: 0px;
    font-family: "微软雅黑 Light";
}
.Menu_fa
{
    margin: 10px 10px;
    text-align: right

}
.Menu_fa
{
    font-size: 25px;
}
.Menu_son
{
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: inline-block;
    position: relative;
    right: 0px;
    font-family: "微软雅黑 Light";

}
#flip1
{
    cursor: pointer;
}
#flip2
{
    cursor: pointer;
}
#Menu_panel1
{
	display:none;
}
#Menu_panel2
{
	display:none;
}

/*目录*/

#Catalog
{
    margin-top:80px;
    position: fixed;
    right: -200px;
    color: white;
    font-size: 15px;
    width: 230px;
    height: 230px;
    box-shadow: 0px 0px 10px black;
    background-color:#3C85C4;

    z-index:105;
}
#Catalog div a
{
    color: white;
}
/*左边底部*/
#leftbarBottom
{

    margin: 10px 10px;
    background-color: white;
    height: 200px;

}
#leftbarBottom div
{
    margin-top: 10px;
}
.leftbarBottom_div
{
  padding: 7px;
}


.Number
{
    float: right;
    font-family: "微软雅黑 Light";
    font-weight: bold;
    font-size: 15px;

}
.leftbarBottom_div img
{
    display: inline-block;

}
/*右边头部*/
#rightbar
{

    border-bottom: 1px solid #ADADAD;
    margin-right: 5px;
    width: 100%;
    text-align: right;
}
#rightbar img
{

}
.cansetTimeR
{
    float: right;
    margin:5px;
}
/*右身体*/
#rightbody
{

}
#cansetTime
{
    position: fixed;
    z-index: 0;
    left: -220px;/*0->250*/
    height: 120px;
    width: 230px;
    background-color: white;
    border:1px solid #3C85C4;
    box-shadow: 0px 0px 10px black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index:105;

}
.cansetTimeR input
{
    display: inline-block;
    width: 180px;
    height: 30px;
    margin-left: 5px;
}
.cansetTimeR span
{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: "微软雅黑 Light";

}

