
/*关键词云*/
#CloudBall
{
    box-shadow: 0px 0px 10px black;
    background-color: white;
    position: fixed;
    right: -340px;
    width: 400px;
    height: 400px;
    z-index: 104;
}
#Ccloud
{
	padding:0px !important;
}

#tagsList
{
	position:relative;
    width:400px;
	height:400px;
	margin:  auto;

}
#tagsList a
{
	position:absolute;
	top:0px;
	left:0px;
	font-family: Microsoft YaHei;
    font-weight:bold;
	text-decoration:none;
	padding: 3px 6px;
}
#tagsList a:hover
{
   color:#FF0000;
   letter-spacing:2px;
}





