
/* CSS Document */

/*传播路径图*/

html,body
{ 
     margin:0px; 
     width:100%;
     height:100%; 
} 


/*关键词云*/

#Contan
{
	margin-top:10px;
}

.panel
{
	height:400px;
}

#Ccloud
{
	padding:0px !important;
}

#tagsList 
{
	position:relative;
    width:400px; 
	height:400px; 
	margin:  auto; 
	
}
#tagsList a 
{
	position:absolute; 
	top:0px; 
	left:0px; 
	font-family: Microsoft YaHei; 
    font-weight:bold;
	text-decoration:none; 
	padding: 3px 6px; 
}
#tagsList a:hover 
{ 
   color:#FF0000; 
   letter-spacing:2px;
}



/*页脚*/
.foot
{
	background-color:#377BB6;
	height:50px;
	text-align:center;
	color:white;
}


