@charset "utf-8";
/* CSS Document */


html,body
{
    margin:0px;
    width:100%;
    height:100%;
}



/*主体*/

.pagsize
{
    width:30%;
}

/*布告板*/
#billboard
{
    color: red;
    font-weight: bold;
}

/*页脚*/
.foot
{
    background-color:#377BB6;
    height:50px;
    text-align:center;
    color:white;
}
